* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.holder {
  width: 100%;
  height: 100%;
}

#title {
  width: 100%;
  text-align: center;
  color: #00bf8f;
  /* margin-top: 30px; */
}

#error {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  font-size: 2em;
}

#login {
  width: 40%;
  height: 80%;
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: rgb(244, 244, 245);
  -webkit-box-shadow: 0px 11px 9px 0px rgba(109, 211, 185, 0.8);
  box-shadow: 0px 11px 9px 0px rgba(109, 211, 185, 0.8);
}

.container {
  width: 80%;
  height: 80%;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#submit_btn {
  width: 25%;
  background-color: #00bf8f;
  color: white;
}

.singup {
  width: 100%;
  align-self: center;
  padding-left: 30px;
}

.singup #signup_link {
  text-decoration: none;
  list-style: none;
  color: #00bf8f;
}

#svg {
  position: absolute;
  left: -30%;
  top: -70%;
  transform: scale(0.6);
  z-index: -2;
}

#svg2 {
  position: absolute;
  right: -40%;
  top: -80%;
  transform: scale(0.7);
  z-index: -2;
}
